<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobile.qosin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/roundicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddKost"></activity>
        <activity android:name=".MenuLogin" />
        <activity android:name=".Activity.ActivityKost" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".Activity.RegisActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>